.footer {
    width: 100%;
    padding: 2rem 0;
    background-image: linear-gradient(0deg, rgb(198, 192, 171) 0%, rgb(231, 228, 217) 100%);
}

.footer .social {
    text-align: center;
}

.footer .icon {
    font-size: 2rem;
    margin: 2rem 3rem;
    color: var(--color-grey-dark);
    transition: var(--transition);
}

.footer .icon:hover {
    color: var(--color-black);
}

@media screen and (max-width: 940px) {
    .footer .container {
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
    }

    .footer .icon {
        margin: 1rem 2rem;
    }
}